<!-- Used to show auth notificaton -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICON - Email Verification</title>
    <link rel="stylesheet" href="public/styles/tailwind.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body class="h-screen">
    <div class="h-full w-full flex justify-center items-center sm:items-start">
      <div
        class="bg-gray-300 animte__animated animate__bounceIn max-w-[250px] sm:max-w-[200px] sm:mt-[13em] flex flex-col space-y-6 rounded p-4"
      >
        <img src="public/styles/images/paper-plane-flying.gif" alt="" />
        <p class="text-sm text-gray-700">
          We've Sent you an email, click on the link to verify it.
        </p>
      </div>
    </div>
  </body>
</html>
