<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICON</title>
    <link rel="stylesheet" href="public/styles/generate.css" />
    <link rel="stylesheet" href="public/styles/head and foot.css" />
    <link rel="stylesheet" href="public/styles/maingen.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" href="icon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="cont">
      <header class="slot-head">
        <h1>
          <span>iC</span
          ><img src="public/styles/images/icon-body.png" alt="" /><span>N</span>
        </h1>
        <p>Generate Code</p>
        <div></div>
      </header>

      <form method="post" action="/pay" id="form" class="confirm">
        <h3 class="con-head">confirm payment to generate code.</h3>
        <div class="ada">
          <div class="green">
            <div id="pay_modal_heading">
              <p>Fill in Details</p>
            </div>
            <div class="abs" id="name-div">
              <p id="name-p">Name</p>
              <input
                pattern=".*\S+.*"
                name="name"
                type="text"
                class="card-input"
                id="name"
                required
              />
            </div>
            <div class="abs" id="name-div">
              <p>Email</p>
              <input
                name="email"
                type="email"
                class="card-input"
                id="email"
                required
              />
            </div>
            <!-- onkeyup="checkName()" -->
            <!-- <div class="abs" id="no-div">
              <p id="no-p">Card number</p>
              <input
                type="tel"
                class="card-input"
                required
                id="no"
                onkeyup="checkNo()"
                onkeypress="restrictAlphabets(event)"
                maxlength="19"
              />
            </div> -->
            <!-- <div class="last-ele">
              <div class="abs" id="date-div">
                <p id="date-p">exp date</p>
                <input
                  type="tel"
                  class="card-input"
                  required
                  id="date"
                  onkeyup="checkDate()"
                  onkeypress="restrictAlphabets(event)"
                  maxlength="5"
                />
              </div>
              <div class="abs" id="cvv-div">
                <p id="cvv-p">cvv</p>
                <input
                  type="number"
                  class="card-input"
                  required
                  id="cvv"
                  oninput="checkCvv()"
                />
              </div>
            </div> -->
            <button class="confirm-btn" id="check-btn">pay (3000)</button>
            <br />
            <p id="hidden" style="display: none">fill all field</p>
          </div>
        </div>
      </form>

      <footer class="slot-foot">
        <div></div>
        <div><p>All rights Reserved 2023</p></div>
        <div>
          <p>Follow us</p>
          <p><i class="fa fa-twitter" aria-hidden="true"></i></p>
          <p><i class="fa fa-telegram" aria-hidden="true"></i></p>
        </div>
      </footer>
    </div>

    <script src="public/javascript/generate.js"></script>
  </body>
</html>
