<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICON</title>
    <link rel="stylesheet" href="styles/generate.css">
    <link rel="stylesheet" href="styles/head and foot.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
        <div class=" generator" >
            <div class="copy c-gen">
                <div class="code coge-gen" id="blank"></div>
                <a href="generate.html" id="copy-anc" onclick="getCode()" ><button class="copy-btn">click here to generate code</button></a>
            </div>
        </div>
 <script src="../javascript/main.js"></script>  
</body>
</html>