<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICON</title>
    <link rel="stylesheet" href="public/styles/generate.css" />
    <link rel="stylesheet" href="public/styles/head and foot.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" href="icon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="cont">
      <header class="slot-head">
        <h1>
          <span>iC</span
          ><img src="public/styles/images/icon-body.png" alt="" /><span>N</span>
        </h1>
        <p>Generate Code</p>
        <div></div>
      </header>

      <div class="cent">
        <div class="confirm">
          <div class="succ" id="success">
            <h3 class="con-head">confirm payment to generate code.</h3>
            <br />
            <br />
            <div class="success">
              <h4><i class="fa fa-check"></i></h4>
              <h4>SUCCESS</h4>
            </div>
          </div>
          <div class="copy" id="copy" style="display: none">
            <div class="code" id="code"></div>
            <a href="#" id="codeCopied" onclick="copyCode()"
              ><button class="copy-btn">copy code</button></a
            >
          </div>
        </div>
      </div>

      <footer class="slot-foot">
        <div></div>
        <div><p>All rights Reserved 2023</p></div>
        <div>
          <p>Follow us</p>
          <p><i class="fa fa-twitter" aria-hidden="true"></i></p>
          <p><i class="fa fa-telegram" aria-hidden="true"></i></p>
        </div>
      </footer>
    </div>
    <script src="javascript/main.js"></script>
  </body>
</html>
