<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCON</title>
    <link rel="stylesheet" href="public/styles/style.css">
    <link rel="stylesheet" href="public/styles/head and foot.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" href="public/icon.png" type="image/x-icon">
</head>
<body>
    <header>
        <h1><span>iC</span><img src="public/styles/images/icon-body.png" alt=""><span>N</span></h1>
        <p>Membership  Whitelisting Part </p>
        <a href="/signup"><button class="sign-up">Sign Up</button></a>
    </header>
    <div class="bold-icon">
        <h1>ICON</h1>
        <br>
        <p>(FOTSTRING THE SPIRIT OF COLLABORATION)</p>
    </div>
    <div class="about-us">
        <div class="left-about">
            <h4>About Us</h4>
            <br>
            <p>
                Through Our Commitment to Community We Aim To Create
                A Tapestry Of Empowered Resilient. And inclusive 
                Neighborhoods That Serve As Models Of Cooperation 
                Compassion And Sustainable Progress Enriching The 
                Lives Of All Who Call Them Home. Through Our Commitment
                to Community We Aim To Create A Tapestry Of Empowered, 
                Realiant And inclusive Neighborhoods That Serve As Models
                of Cooperation, Compassion, And Sustainable Progress 
                Enriching The Lives of All Who Cat Them Home Through
                Our commitment to community, we aim to Create A Tapestry
                of Empowered, Hesent And inclusive Neighborhoods that Serve 
                As Models Of Cooperation, Compassion, And Sustainable Progress
                Enriching The Uves Of All Who Call Them Home Registering 
                With Us Allows You To Access
            </p>
        </div>
        <div class="right-about">
        </div>
    </div>
    <div class="register">
            <i class="fa fa-exchange" aria-hidden="true"></i>
            <span>Registering With Us Allows You To Access Exclusive 
                Community Services</span>
            <i class="fa fa-exchange" aria-hidden="true"></i>
    </div>
    <div class="join">
        <p>
            Join our withelist community today and unlock
             a world of possibilities
        </p>
        <a href="/slot"><button class="started">Get started</button></a>
    </div>

    <footer>
        <div></div>
        <div><p>All rights Reserved 2023</p></div>
        <div>
            <p>Follow us</p>
            <p> <i class="fa fa-twitter" aria-hidden="true"></i></p>
            <p> <i class="fa fa-telegram" aria-hidden="true"></i></p>
        </div>
    </footer>

</html>