<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICON</title>
    <link rel="stylesheet" href="public/styles/tailwind.css" />
    <link rel="stylesheet" href="public/styles/signup.css" />
    <link rel="stylesheet" href="public/styles/head and foot.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" href="icon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body class="relative">
    <header class="slot-head">
      <h1 class="text-2xl">
        <span>iC</span
        ><img src="public/styles/images/icon-body.png" alt="" /><span>N</span>
      </h1>
      <p>Signup Page</p>
      <div></div>
    </header>
    <% if(error.length > 0) { %>
    <div
      id="error"
      class="absolute p-3 right-0 m-4 animate__animated animate__bounceInRight text-sm bg-red-500 text-white rounded"
    >
      <p><%=error%></p>
    </div>
    <% } %> <% if(success != null) { %>
    <div
      id="error"
      class="absolute p-3 right-0 m-4 animate__animated animate__bounceInRight text-sm bg-green-800 text-white rounded"
    >
      <p><%=success%></p>
    </div>
    <% } %>
    <form action="/create_user" id="submit" method="post">
      <div class="form-section">
        <div class="sign-right">
          <label for="code">Whitelist Code:</label>
          <% if(whitelist != null) { %>
          <input
            value="<%= whitelist %>"
            type="number"
            readonly
            name="whitelist"
            required
            class="sign sm:p-3 p-2"
          />
          <% }%> <% if(whitelist == null) { %>
          <input
            type="number"
            required
            name="whitelist"
            class="sign sm:p-3 p-2"
          />
          <% }%>

          <br />

          <label for="firstname">First name:</label>
          <input
            name="firstname"
            required
            type="text"
            min="3"
            placeholder="John"
            class="sign sm:p-3 p-2"
          />
          <br />

          <label for="lastname">last name:</label>
          <input
            id="lastname"
            placeholder="Doe"
            required
            name="lastname"
            type="text"
            class="sign sm:p-3 p-2"
          />
          <br />

          <label for="email">email:</label>
          <input name="email" required type="email" class="sign sm:p-3 p-2" />
          <br class="break" />
          <br class="break" />
        </div>

        <div class="break">
          <hr />
        </div>

        <div class="sign-left">
          <label for="DOb">Date of birth:</label>
          <input
            name="dob"
            type="date"
            min="3"
            required
            class="sign sm:p-3 p-2"
          />
          <br />

          <label for="gender">Gender:</label>
          <Select
            name="gender"
            type="gender"
            placeholder="Specify Gender"
            required
            min="3"
            class="sign sm:p-3 p-2"
          >
            <option disabled selected value="">-- select --</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="non-binary">Non-Bianry</option>
          </Select>
          <br />

          <label for="phone">Phone number:</label>
          <input
            required
            min="11"
            placeholder="081*******"
            type="number"
            name="phone"
            class="sign sm:p-3 p-2"
          />
          <br />

          <label for="address">Street address:</label>
          <input type="text" class="sign sm:p-3 p-2" />
          <br />
          <div class="agree">
            <input id="terms" type="checkbox" required class="checkbox" />
            <p>
              I agree with the <a href="#">Terms of services</a> and
              <a href="#">Privacy Policy</a>
            </p>
          </div>
          <button>Sign Up</button>
          <div class="foot">
            <p><b>Or Continue with</b></p>
            <div class="img-icons flex space-x-2">
              <img src="public/styles/images/google.png" alt="google" />
              <img src="public/styles/images/meta.png" alt="meta" />
              <img src="public/styles/images/apple.png" alt="apple" />
              <img src="public/styles/images/linkedin.png" alt="linkedin" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
  <script>
    try {
      const error = document.querySelector("#error");
      setTimeout(() => {
        if (error) {
          error.style.display = "none";
        }
      }, 4000);
    } catch (error) {}
    const inputs = document.querySelectorAll(".sign");
    const form = document.querySelector("#submit");
    const terms = document.querySelector("#terms");
    inputs.forEach((input) => {
      input.addEventListener("focusout", (e) => {
        // console.log("hey");
        input.value = e.target.value.trim(""); // Removes spaces
      });
    });
  </script>
</html>
