<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICON</title>
    <link rel="stylesheet" href="styles/signup.css">
    <link rel="stylesheet" href="styles/head and foot.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <header class="slot-head">
        <h1><span>iC</span><img src="images/icon-body.png" alt=""><span>N</span></h1>
        <p>Signup Page</p>
        <div></div>
    </header>

    <form action="#"></form>
       <div class="form-section">
            <div class="sign-right">
                <label for="code">Whitelist Code:</label>
                <input type="number" class="sign">
                <br>

                <label for="firstname">First name:</label>
                <input type="text" class="sign">
                <br>

                <label for="middlename">Middle name:</label>
                <input type="text" class="sign">
                <br>

                <label for="email">email:</label>
                <input type="email" class="sign">
                <br class="break">
                <br class="break">
            </div>

            <div class="break">              
                <hr>
            </div>

            <div class="sign-left">
                <label for="DOb">Date of birth:</label>
                <input type="date" class="sign">
                <br>

                <label for="gender">Gender:</label>
                <input type="gender" class="sign">
                <br>

                <label for="phone">Phone number:</label>
                <input type="tel" class="sign">
                <br>

                <label for="address">Street address:</label>
                <input type="text" class="sign">
                <br>
                <div class="agree"><input type="checkbox" class="checkbox"><p>I agree with the
                     <a href="#">Terms of services</a> and <a href="#">Privacy Policy</a></p></div>
                <button>Sign Up</button>
                <div class="foot">
                    <p><b>Or Continue with</b></p>
                    <div class="img-icons">
                        <img src="images/google.png" alt="google">
                        <img src="images/meta.png" alt="meta">
                        <img src="images/apple.png" alt="apple">
                        <img src="images/linkedin.png" alt="linkedin">
                    </div>
                </div>
            </div>
       </div>
    </form>
</body>
</html>